In [1]:
import numpy as np
import pandas as pd


from tqdm import tqdm_notebook as tqdm

In [2]:
searches = pd.read_csv('filter_explore_searches.csv', encoding = 'cp1251', sep = '\t')
views = pd.read_csv('filter_explore_views.csv', encoding = 'cp1251', sep = '\t')
contacts = pd.read_csv('filter_explore_contacts.csv', encoding = 'cp1251', sep = '\t')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
searches.shape, views.shape, contacts.shape

((3113867, 18), (960131, 6), (28688, 6))

In [17]:
for col in searches.columns:
    print(f'{col} num unique: {searches[col].nunique()}')

region_id num unique: 4
user_id num unique: 537624
search_id num unique: 3107086
category_id num unique: 25
subcategory_id num unique: 280
default num unique: 2
use_category num unique: 1
search_text num unique: 1
price_filter num unique: 1
bs_filter num unique: 1
discount_filter num unique: 1
delivery_filter num unique: 1
distance_filter num unique: 1
publication_filter num unique: 1
use_properties num unique: 1
sorting_published num unique: 1
sorting_distance num unique: 1
sorting_price num unique: 1

In [18]:
for col in views.columns:
    print(f'{col} num unique: {views[col].nunique()}')

region_id num unique: 4
user_id num unique: 240940
search_id num unique: 612861
category_id num unique: 8
subcategory_id num unique: 113
cnt num unique: 167

In [19]:
for col in contacts.columns:
    print(f'{col} num unique: {contacts[col].nunique()}')

region_id num unique: 4
user_id num unique: 21157
search_id num unique: 27569
category_id num unique: 8
subcategory_id num unique: 113
cnt num unique: 25

In [6]:
searches.region_id.value_counts()

D09AD180D0B0D181D0BDD0BED0B4D0B0D180D181D0BAD0B8D0B920D0BAD180D0B0D0B9            1268412
D0A1D0B2D0B5D180D0B4D0BBD0BED0B2D181D0BAD0B0D18F20D0BED0B1D0BBD0B0D181D182D18C     979319
D0A0D0BED181D182D0BED0B2D181D0BAD0B0D18F20D0BED0B1D0BBD0B0D181D182D18C             480727
D0A2D0B0D182D0B0D180D181D182D0B0D0BD                                               385409
Name: region_id, dtype: int64

In [48]:
# Transform Region to city

regions_map = {'D09AD180D0B0D181D0BDD0BED0B4D0B0D180D181D0BAD0B8D0B920D0BAD180D0B0D0B9':1,
               'D0A1D0B2D0B5D180D0B4D0BBD0BED0B2D181D0BAD0B0D18F20D0BED0B1D0BBD0B0D181D182D18C':2,
               'D0A0D0BED181D182D0BED0B2D181D0BAD0B0D18F20D0BED0B1D0BBD0B0D181D182D18C':3,
               'D0A2D0B0D182D0B0D180D181D182D0B0D0BD':4}

searches['region_id'] = searches['region_id'].map(regions_map)
views['region_id'] = views['region_id'].map(regions_map)
contacts['region_id'] = contacts['region_id'].map(regions_map)

# Fillna and transform to int

for col in tqdm(searches.columns[-12:]):
    searches[col] = searches[col].fillna(0).astype(str).apply(lambda x: x.replace(',','.')).astype(float)
    searches[col] = searches[col].astype(int)
    
searches['default'] = (searches['default'] == 'main').astype(int)

HBox(children=(IntProgress(value=0, max=12), HTML(value='')))

In [49]:
searches.head()

,region_id,user_id,search_id,category_id,subcategory_id,default,use_category,search_text,price_filter,bs_filter,discount_filter,delivery_filter,distance_filter,publication_filter,use_properties,sorting_published,sorting_distance,sorting_price
0,1,30313632666265376337646262666661,6637303136663335373937336235666230306430396564...,5,1F6,0,1,0,0,0,0,0,0,0,0,0,1,0
1,1,30313866326433666638326333373138,6539626330383465373331346433616562303135313037...,NaN,NaN,1,0,0,0,0,0,0,0,0,0,0,1,0
2,1,30316135313065353037343635343432,3935633537363265303339373463643764633739326430...,NaN,NaN,1,0,0,0,0,0,0,0,0,0,0,1,0
3,1,30323639306161643537383935663331,6630633532393165613830656234353132616335623536...,5,1F6,0,1,0,0,0,0,0,1,0,1,0,1,0
4,1,30326230306261356136623462336138,3166613861666262633130336565386134323662613631...,NaN,NaN,1,0,0,0,0,0,0,0,0,0,0,1,0

In [61]:
searches[(~searches['category_id'].isna()) & (searches['subcategory_id'].isna())]

,region_id,user_id,search_id,category_id,subcategory_id,default,use_category,search_text,price_filter,bs_filter,discount_filter,delivery_filter,distance_filter,publication_filter,use_properties,sorting_published,sorting_distance,sorting_price
12,1,30396330326163343934376334373230,3131313239643930386333323166313663393233626530...,9,NaN,0,1,0,0,0,0,0,0,0,0,0,1,0
36,1,31326435333538303963303937633562,6138373863323264643132393837343632353461646534...,15,NaN,0,1,1,0,0,0,0,0,0,0,0,1,0
37,1,31333535346463613236636533623864,6339356234383365313134616134316165663838623733...,10,NaN,0,1,0,0,0,0,0,0,0,0,0,1,0
81,1,31653161613264373637323139346430,3830626534633731616464653161353834313335316534...,18,NaN,0,1,0,0,0,0,0,0,0,0,0,1,0
113,1,32393630313930643035633261343333,6665366664666632636461363835666533323962613538...,18,NaN,0,1,0,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3113745,4,37636438643435643362343738616264,3335313932333961333732623430663266656139656430...,16,NaN,0,1,1,0,0,0,0,0,0,0,0,1,0
3113758,4,38383734333364623532383034626338,3835336434633635633137656565353066383130323165...,4,NaN,0,1,1,0,0,0,0,0,0,0,0,1,0
3113770,4,39303139386534356235343064653065,3865353161653865313633393337653766326137363236...,18,NaN,0,1,0,0,0,0,0,0,0,0,0,1,0
3113785,4,61316566396435393039626564623834,6639363235363933393561363038353534383334313166...,17,NaN,0,1,0,0,0,0,0,0,0,1,0,1,0
3113857,4,66376434323831363730343661383038,3238353938303235343234373636363164616465383166...,8,NaN,0,1,1,0,0,0,0,0,0,0,0,1,0

In [54]:
views[views['search_id'] == searches['search_id'][1]]

,region_id,user_id,search_id,cat_view,subcat_view,count_views
564070,1,30313866326433666638326333373138,6539626330383465373331346433616562303135313037...,16,89E,1

In [44]:
searches.shape

(3113867, 18)

### Need to merge and fill NA with the help of views and contacts

In [42]:
views = views.rename(columns= {'subcategory_id':'subcat_view',
                               'category_id':'cat_view',
                               'cnt':'count_views'})

In [62]:
cat_na_search = searches[(searches['category_id'].isna()) & (~searches['subcategory_id'].isna())].reset_index(drop = True)
subcat_na_search = searches[(~searches['category_id'].isna()) & (searches['subcategory_id'].isna())].reset_index(drop = True)
both_na_search = searches[(searches['category_id'].isna()) & (searches['subcategory_id'].isna())].reset_index(drop = True)

search_no_miss = searches.dropna(subset= ['category_id', 'subcategory_id']).reset_index(drop = True)

In [64]:
views.head()

,region_id,user_id,search_id,cat_view,subcat_view,count_views
0,1,62393064616562623835383338663966,6433633439316535336561383430666664386235666265...,B,453,2
1,1,62393066366530636235313931613537,3032353439356632326463653930636562333563666433...,4,197,1
2,1,62393066366530636235313931613537,6137623665336630626330373564636163616239653964...,2,D1,1
3,1,62393066366530636235313931613537,6637356235656566346638343837396135363237636234...,2,D1,1
4,1,62393066383234653961343165313832,3066346264643464303534303637643332633165303339...,9,388,1

In [80]:
cat_na_search.head()

,region_id,user_id,search_id,category_id,subcategory_id,default,use_category,search_text,price_filter,bs_filter,discount_filter,delivery_filter,distance_filter,publication_filter,use_properties,sorting_published,sorting_distance,sorting_price
0,1,30353066336130643437633638623139,3862643264376266343233333533323562613465326336...,NaN,7D3,0,0,0,0,0,0,0,1,0,0,0,1,0
1,2,66623139373865656336643766613833,6230626632323263363530393531386138333937636536...,NaN,8A1,0,0,0,0,0,0,0,0,0,1,0,1,0
2,1,66376539373036643238343134366665,3432653233666566653730653464643335656433653239...,NaN,7D6,0,0,0,0,0,0,0,0,0,0,0,1,0
3,3,38633532646636393562313434353665,3837323836333039366531666561396662656230343332...,NaN,64B,0,0,0,0,0,0,0,0,0,0,0,1,0
4,4,35373634313232373831663138393963,6161316531643231626264663238323631653265616263...,NaN,648,0,0,1,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1668,2,38313061313366363932656238336530,3063353566393862316666626535393761626238363866...,NaN,64A,0,0,0,0,0,0,0,0,0,0,0,1,0
1669,4,35623039373464636433633236323665,6436346364343564386439623235326661336235636466...,NaN,8FD,0,0,0,0,0,0,0,0,0,0,0,1,0
1670,3,38653831303130373163636162313539,3265386462356261383262643730346530613166336265...,NaN,7D3,0,0,0,1,0,0,0,1,0,1,0,1,0
1671,1,36396235346566343031336562656138,6634386236313331343137373565633133343431343433...,NaN,962,0,0,0,0,0,0,0,0,0,0,0,1,0
1672,4,39363333623664383765656539326233,3335363562366235373430303466313364313266383435...,NaN,8FD,0,0,0,0,0,0,0,0,0,1,0,1,0

In [85]:
# 1. Add missing parent category
unique_pairs = searches.groupby(['category_id', 'subcategory_id']).size().reset_index()
del unique_pairs[0]
unique_pairs.columns = ['cat_view', 'subcategory_id']

cat_na_search = pd.merge(cat_na_search, unique_pairs, on = 'subcategory_id', how = 'left')
cat_na_search['category_id'] = cat_na_search['category_id'].fillna(cat_na_search['cat_view'])
del cat_na_search['cat_view']

In [90]:
cat_na_search.head()

,region_id,user_id,search_id,category_id,subcategory_id,default,use_category,search_text,price_filter,bs_filter,discount_filter,delivery_filter,distance_filter,publication_filter,use_properties,sorting_published,sorting_distance,sorting_price
0,1,30353066336130643437633638623139,3862643264376266343233333533323562613465326336...,14,7D3,0,0,0,0,0,0,0,1,0,0,0,1,0
1,2,66623139373865656336643766613833,6230626632323263363530393531386138333937636536...,16,8A1,0,0,0,0,0,0,0,0,0,1,0,1,0
2,1,66376539373036643238343134366665,3432653233666566653730653464643335656433653239...,14,7D6,0,0,0,0,0,0,0,0,0,0,0,1,0
3,3,38633532646636393562313434353665,3837323836333039366531666561396662656230343332...,10,64B,0,0,0,0,0,0,0,0,0,0,0,1,0
4,4,35373634313232373831663138393963,6161316531643231626264663238323631653265616263...,10,648,0,0,1,0,0,0,0,0,0,0,0,1,0

In [ ]:
# 2. Fill missing category

In [126]:
views_1 = views.rename(columns ={'cat_view':'category_id'}).copy()
subcat_na_search = pd.merge(subcat_na_search, views_1.drop_duplicates(subset = ['user_id', 'search_id', 'category_id'], keep ='last'), 
         on = ['region_id', 'user_id', 'search_id', 'category_id'], how = 'left')

subcat_na_search['subcategory_id'] = subcat_na_search['subcategory_id'].fillna(subcat_na_search['subcat_view'])
subcat_na_search['subcategory_id'] = subcat_na_search['subcategory_id'].fillna('-1')

del subcat_na_search['subcat_view'], subcat_na_search['count_views'], views_1

In [134]:
print(subcat_na_search.shape)
subcat_na_search.head()

(129400, 18)

,region_id,user_id,search_id,category_id,subcategory_id,default,use_category,search_text,price_filter,bs_filter,discount_filter,delivery_filter,distance_filter,publication_filter,use_properties,sorting_published,sorting_distance,sorting_price
0,1,30396330326163343934376334373230,3131313239643930386333323166313663393233626530...,9,-1,0,1,0,0,0,0,0,0,0,0,0,1,0
1,1,31326435333538303963303937633562,6138373863323264643132393837343632353461646534...,15,-1,0,1,1,0,0,0,0,0,0,0,0,1,0
2,1,31333535346463613236636533623864,6339356234383365313134616134316165663838623733...,10,-1,0,1,0,0,0,0,0,0,0,0,0,1,0
3,1,31653161613264373637323139346430,3830626534633731616464653161353834313335316534...,18,-1,0,1,0,0,0,0,0,0,0,0,0,1,0
4,1,32393630313930643035633261343333,6665366664666632636461363835666533323962613538...,18,-1,0,1,0,0,0,0,0,0,0,0,0,1,0

In [ ]:
# 3. Fill where both are missed

In [144]:
both_na_search = pd.merge(both_na_search, views.drop_duplicates(subset = ['user_id', 'search_id'], keep ='last'), 
                          on = ['region_id', 'user_id', 'search_id'], how = 'left')

both_na_search['subcategory_id'] = both_na_search['subcategory_id'].fillna(both_na_search['subcat_view'])
both_na_search['subcategory_id'] = both_na_search['subcategory_id'].fillna('-1')

both_na_search['category_id'] = both_na_search['category_id'].fillna(both_na_search['cat_view'])
both_na_search['category_id'] = both_na_search['category_id'].fillna('-1')

del both_na_search['subcat_view'], both_na_search['count_views'], both_na_search['cat_view']

In [145]:
both_na_search.head()

,region_id,user_id,search_id,category_id,subcategory_id,default,use_category,search_text,price_filter,bs_filter,discount_filter,delivery_filter,distance_filter,publication_filter,use_properties,sorting_published,sorting_distance,sorting_price
0,1,30313866326433666638326333373138,6539626330383465373331346433616562303135313037...,16,89E,1,0,0,0,0,0,0,0,0,0,0,1,0
1,1,30316135313065353037343635343432,3935633537363265303339373463643764633739326430...,4,197,1,0,0,0,0,0,0,0,0,0,0,1,0
2,1,30326230306261356136623462336138,3166613861666262633130336565386134323662613631...,-1,-1,1,0,0,0,0,0,0,0,0,0,0,1,0
3,1,30343332656461363966623964363966,3036666136633039613764396336326631343761353731...,9,388,1,0,0,0,0,0,0,0,0,0,0,1,0
4,1,30366161383061363964396433373463,3461656336333737353563303664356332663737613935...,-1,-1,1,0,0,0,0,0,0,0,0,0,0,1,0

In [151]:
# Adding everythin together

searches = pd.concat([search_no_miss, cat_na_search, subcat_na_search, both_na_search], ignore_index = True)

In [153]:
searches

,region_id,user_id,search_id,category_id,subcategory_id,default,use_category,search_text,price_filter,bs_filter,discount_filter,delivery_filter,distance_filter,publication_filter,use_properties,sorting_published,sorting_distance,sorting_price
0,1,30313632666265376337646262666661,6637303136663335373937336235666230306430396564...,5,1F6,0,1,0,0,0,0,0,0,0,0,0,1,0
1,1,30323639306161643537383935663331,6630633532393165613830656234353132616335623536...,5,1F6,0,1,0,0,0,0,0,1,0,1,0,1,0
2,1,30363436653532323866363239623462,6566386663366562396635366530393064623563343966...,B,456,0,1,1,0,0,0,0,0,0,0,0,1,0
3,1,30396534363135383364316634623730,6331343932656563346335346136356136643437333864...,6,25A,0,1,1,1,0,0,0,1,0,0,0,1,0
4,1,30616662343038636464363761623339,3734623063393439393938623632336538373534386335...,6,25A,0,1,1,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3113862,4,66623134393038346434623462306664,3532613333353562646431356665336132633662346266...,-1,-1,0,0,1,0,0,0,0,0,0,0,0,0,1
3113863,4,66623561386566353539666463376631,3730353431636261343063393932363737643733633939...,-1,-1,1,0,0,0,0,0,0,0,0,0,0,1,0
3113864,4,66643363353536326237666331633333,6631636333306661363862323837363334643135306232...,-1,-1,1,0,0,0,0,0,0,0,0,0,0,1,0
3113865,4,66653738336237316139396465616630,3633333835656235376462393865663939353161376662...,-1,-1,1,0,0,0,0,0,0,0,0,0,0,1,0
3113866,4,66663562623036363437353238666532,3161343563376365356565356331663939353332386565...,-1,-1,1,0,0,0,0,0,0,0,0,0,0,1,0

### Add views and contacts

In [169]:
searches = pd.merge(searches, views.rename(columns = {'cat_view':'category_id',
                                           'subcat_view':'subcategory_id'}), 
         on = ['subcategory_id', 'category_id', 'search_id', 'user_id', 'region_id'],
         how = 'left')

searches['count_views'] = searches['count_views'].fillna(0).astype(int)

In [170]:
searches.head()

,region_id,user_id,search_id,category_id,subcategory_id,default,use_category,search_text,price_filter,bs_filter,discount_filter,delivery_filter,distance_filter,publication_filter,use_properties,sorting_published,sorting_distance,sorting_price,count_views
0,1,30313632666265376337646262666661,6637303136663335373937336235666230306430396564...,5,1F6,0,1,0,0,0,0,0,0,0,0,0,1,0,0
1,1,30323639306161643537383935663331,6630633532393165613830656234353132616335623536...,5,1F6,0,1,0,0,0,0,0,1,0,1,0,1,0,1
2,1,30363436653532323866363239623462,6566386663366562396635366530393064623563343966...,B,456,0,1,1,0,0,0,0,0,0,0,0,1,0,0
3,1,30396534363135383364316634623730,6331343932656563346335346136356136643437333864...,6,25A,0,1,1,1,0,0,0,1,0,0,0,1,0,0
4,1,30616662343038636464363761623339,3734623063393439393938623632336538373534386335...,6,25A,0,1,1,0,0,0,0,1,0,0,0,1,0,0

In [158]:
contacts.head()

,region_id,user_id,search_id,category_id,subcategory_id,cnt
0,1,30303166316536616339326138326466,3131313330633039623435383763663733303164643636...,5,1F6,1
1,1,30303166316536616339326138326466,6365633963666638343230353664333231393139326536...,5,1F6,1
2,1,30303262393736366337643534333132,3364313232316532323238353436663339666533393439...,4,195,1
3,1,30303363356666353239396162386233,3430623030383862336136663465306661613735626134...,C,4B2,2
4,1,30303363636234356463383533346531,6135336161666433396262363439366466323939626436...,5,1F9,2

In [172]:
df = pd.merge(searches, contacts, 
         on = ['subcategory_id', 'category_id', 'search_id', 'user_id', 'region_id'],
         how = 'left')

df['count_contacts'] = df['cnt'].fillna(0).astype(int)
del df['cnt']

In [177]:
df

,region_id,user_id,search_id,category_id,subcategory_id,default,use_category,search_text,price_filter,bs_filter,discount_filter,delivery_filter,distance_filter,publication_filter,use_properties,sorting_published,sorting_distance,sorting_price,count_views,count_contacts
0,1,30313632666265376337646262666661,6637303136663335373937336235666230306430396564...,5,1F6,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0
1,1,30323639306161643537383935663331,6630633532393165613830656234353132616335623536...,5,1F6,0,1,0,0,0,0,0,1,0,1,0,1,0,1,0
2,1,30363436653532323866363239623462,6566386663366562396635366530393064623563343966...,B,456,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0
3,1,30396534363135383364316634623730,6331343932656563346335346136356136643437333864...,6,25A,0,1,1,1,0,0,0,1,0,0,0,1,0,0,0
4,1,30616662343038636464363761623339,3734623063393439393938623632336538373534386335...,6,25A,0,1,1,0,0,0,0,1,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3113862,4,66623134393038346434623462306664,3532613333353562646431356665336132633662346266...,-1,-1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0
3113863,4,66623561386566353539666463376631,3730353431636261343063393932363737643733633939...,-1,-1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3113864,4,66643363353536326237666331633333,6631636333306661363862323837363334643135306232...,-1,-1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3113865,4,66653738336237316139396465616630,3633333835656235376462393865663939353161376662...,-1,-1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3113866,4,66663562623036363437353238666532,3161343563376365356565356331663939353332386565...,-1,-1,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0

In [190]:
# Viewed and contacted marks
df['viewed'] = (df['count_views'] > 0).astype(int)
df['contacted'] = (df['count_contacts'] > 0).astype(int)

In [197]:
df.to_csv('prepared_data.csv', index = False)